@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap);

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    text-align: center;
}

h1 {
    color: #000000;
}

img {
    width: 300px;
    border-radius: 10px;
}

#vastaus {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

 } .container {
        display: flex;
        justify-content: center;
        padding: 20px;
} #vastaus-helsinki {
    padding: 30px;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 70%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
#vastaus-tampere {
    padding: 30px;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 70%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
} nav {
    display: flex;
    justify-content: space-between; 
    margin: 50px;

}
#junat-helsinki {
    padding: 30px;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 70%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
#junat-tampere {
    padding: 30px;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 70%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}